<ul class="menu">
    <li><a class="page-link" href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-home fa-lg"></i>主页</a></li>
    <li><a class="page-link" href="{{ "/schedule/" | prepend: site.baseurl }}"><i class="fas fa-calendar-alt"></i> 日程安排</a></li>
    <li><a class="page-link" href="{{ "/lectures/" | prepend: site.baseurl }}"><i class="fas fa-book-reader"></i> 课堂讲授</a></li>
    <li><a class="page-link" href="{{ "/assignments/" | prepend: site.baseurl }}"><i class="fas fa-user-graduate"></i> 课后作业</a></li>
    <li><a class="page-link" href="{{ "/final_project/" | prepend: site.baseurl }}"><i class="fas fa-user-graduate"></i> 结课作业</a></li>
    <li><a class="page-link" href="{{ "/course-materials/" | prepend: site.baseurl }}"><i class="fas fa-book"></i> 参考材料</a></li>
</ul>